.container {
    background-color: khaki;
    margin-bottom: 20px;
}

[class*="col-"] {
    padding: 5px;
    min-height: 50px;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    background-color: #006cfa;
    color: white;
    border: 1px solid white;
}

.nested [class*="col-"] {
    background-color: #00e165;
    border: 1px solid #006cfa;
}