html {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: white;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.container {
    margin: 50px auto;
}

/* Proprietà per tutte le colonne */
[class*="col-"] {
    min-height: 2rem;
    line-height: 2rem;
    vertical-align: middle;
    text-align: center;
}

.container > header > .row > [class*="col-"],
.container > main > .row > [class*="col-"] {
    border: 1px solid white;
    background-color: rgba(0,0,0,.8);
    border-radius: 1rem;
    margin-bottom: 2rem;
}

/* HEADER */

.container > header {
    padding: 0 5px; /* evito di usare margine negativo al contenitore dei blocchi dei mesi, che farebbe apparire una scrollbar orizzontale quando restringo */
}

header [class*="col-"] {
    text-align: left;
}

header h1 {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 10px;
}

header .logo-html-css {
    height: 3rem;
    line-height: 3rem;
    vertical-align: text-bottom;
}



/* MAIN */

/* .calendar {
    margin: 0 -5px;
}
sostituito con padding applicato esclusivamente all'header
*/



/* Month Container */

/* SOVRASCRIVO REGOLE DEL FRAMEWORK PER QUESTA CLASSE PER POTER APPLICARE UN MARGINE TRA GLI ELEMENTI */

.month-container-xs {
    background-color: rgba(255,255,255,.5);
    margin: 0 5px;
    flex-basis:
    calc(((100% / 12) * 6) - 10px);
    max-width: calc(((100% / 12) * 6) - 10px);
}

@media all and (min-width: 576px) {
    .month-container-sm {
        margin: 0 5px;
        flex-basis:
        calc(((100% / 12) * 4) - 10px);
        max-width: calc(((100% / 12) * 4) - 10px);
    }
}

@media all and (min-width: 768px) {
    .month-container-md {
        margin: 0 5px;
        flex-basis:
        calc(((100% / 12) * 3) - 10px);
        max-width: calc(((100% / 12) * 3) - 10px);
    }
}

@media all and (min-width: 992px) {
    .month-container-lg {
        margin: 0 5px;
        flex-basis:
        calc(((100% / 12) * 2) - 10px);
        max-width: calc(((100% / 12) * 2) - 10px);
    }
}

/* Month */

.month {
    padding: 5px;
    text-transform: uppercase;
}

.month h3 {
    color: #2572b1;
}
.month h2 {
    color: #e44d26;
}

/* Giorni della settimana */

.weekly-days > * {
    font-weight: 600;
    background-color: rgba(255,255,255,.8);
    color: #2572b1; 
}


.weekly-days > *:nth-of-type(1) {
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
}

.weekly-days > *:nth-of-type(7) {
    color: #e44d26;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
}

/*  TODO: colorare in rosso le domeniche e i giorni festivi */