
html {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: darkslategrey;
}

.container {
    margin: 50px auto;
    background-color: rgba(255,255,255,.3);
    border-radius: 1rem;
}

/* Proprietà per tutte le colonne */
[class*="col-"] {
    min-height: 2rem;
    line-height: 2rem;
    vertical-align: middle;
    color: white;
    text-align: center;
}

.container > .row > [class*="col-"] {
    border: 1px solid white;
}